<%- include('partials/header.ejs') %> 

<div class="container">
    <div class="row">
        <div class="col-2">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-3 border-end">
            <nav class="nav nav-pills flex-column link-list">
              <h4 class="lesson-header pb-3">Typing Lessons</h4>
              <a class="nav-link" href="#item-1">Home Row Lesson</a>
              <!-- <a class="nav-link" href="#item-2">Top Row Lesson</a>
              <a class="nav-link" href="#item-3">Bottom Row Lesson</a>
              <a class="nav-link" href="#item-3">Capital Letters Lesson</a>
              <a class="nav-link" href="#item-3">Punctuation Lesson</a>
              <a class="nav-link" href="#item-3">Numbers Lesson</a>
              <a class="nav-link" href="#item-3">Symbols Lesson</a> -->
            </nav>
          </nav>
        </div>
      
        <div class="col-10 main px-5">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <h1 class="heading-title">Typing Lessons</h1>
            <p>As you begin these typing lessons, remember to focus on accuracy. Aim for 100% accuracy and speed will come with practice. Touch typing is all about developing muscle memory through the consistent repetition of your finger movements. With practice, the movements will become natural and you will find yourself typing faster and with less effort.</p>
            <div id="item-1">
              <h4>.The Home Row</h4>
              <p>The first principle of touch typing is to always return your fingers to the home row when you are not typing. The home row will be the reference point from which you will learn the positions of all the other keys. Most keyboards have small bumps on the f and j keys to help you find the home row without looking at the keys.</p>
              <img src="/img/homerow.svg" class="lenimg" alt="" srcset="">
            </div>
            <div id="item-1-1" class="mini-heading">
              <h5>The Right Hand</h5>
              <p>The home row keys for the right hand are: j k l ;</p>
              <img src="/img/righthand.svg" class="lenimg" alt="" srcset="">
              <p>Position your right hand so that your index finger is placed on j, your middle finger is on k, your ring finger is on l and your pinky is on ; (the semicolon key). Let your right thumb rest comfortably on the spacebar at the bottom of the keyboard.</p>
              <p>Your hand should be raised above the keyboard with your fingers curving down to point directly on the keys. This will make it easier for you to move your fingers without moving your hands. Take a moment to properly position your right hand before continuing. It is very important to develop good habits early in your typing practice.</p>
            </div>
            <div id="item-1-2" class="mini-heading">
              <h5>The Left Hand</h5>
              <p>The home row keys for the left hand are: f d s a</p>
              <img src="/img/lefthand.svg" class="lenimg" alt="" srcset="">
              <p>Position your left hand so that your index finger is on f, your middle finger is on d, your ring finger is on s and your pinky is on a. Your thumb can rest on the spacebar.</p>
              <p>Check that your left hand is raised and your fingers are curved and pointed down at the keys.</p>
            </div>
          </div>
        </div>
      </div>
      
</div>


<%- include('partials/footer.ejs') %> 

    