<%- include('partials/header.ejs') %> 


    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-4">
                <div class="card profile-card">
                    <div class="text-center">
                        <img src="/img/user.png" width="150" class="rounded-circle">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0 profile-username"><span>@</span>username</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 m-4">
                <div class="card profile-card">
                    <div class="">
                        <div>
                            <h2 class="leaderbourd-title hAlign">WPM :</h2>
                            <h2 class="leaderbourd-title hAlign">210</h2>
                        </div>
                        <div class="mt-4">
                            <h2 class="leaderbourd-title hAlign">GAME SCORE :</h2>
                            <h2 class="leaderbourd-title hAlign">380</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('partials/footer.ejs') %> 
