
.card{
    border:none;
    background: none !important;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.profile-card{
    padding: 2rem ;
    border:2px solid #26e3c2; 
    border-radius: 20px;
    box-shadow: 0 0 10px #26e3c2;
}

.profile-username{
    color: rgba(255, 255, 255, 0.61);
}

.hAlign{
    display: inline;
}